<h2>Add a snippet</h2>

<%= form_for(@snippet, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Add a title..." %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new snippet..." %>
  </div>
  
  <div class="field">
    <%= f.select :delay, [['3 minutes', Time.now + 3.minutes], ['1 week', Time.now + 1.week], ['1 month', Time.now + 1.month], ['1 year', Time.now + 1.year], ['5 years', Time.now + 5.years], ['10 years', Time.now + 10.years]] %>
  </div>
  
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit "Add to capsule", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#snippet_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>